:root { --brand:   #1152b4;}

body {
  background: #f6f7fb;
  font-family: Arial, sans-serif;
  position: relative;   
  overflow: hidden;  
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/educacion.png") no-repeat center center / cover;
  filter: blur(5px);          
  opacity: 0.4;               
  z-index: -1;               
}

header {

  background-color: #1152b4;
   font-family: "Georgia", "Merriweather", serif; /* formal y elegante */
  font-size: 1.25rem; /* un poco más discreto */
  font-weight: 500;   /* más ligero, elegante */
  color: #fff !important;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.15); /* sombra muy suave */
  letter-spacing: 0.5px; /* apenas más espacio */
 
}

/* Reducir alto de la navbar */
.navbar {
  padding-top: 0rem;   /* antes suele ser 0.5rem o 1rem */
  padding-bottom: 0rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  font-size: 0.85rem; 
}

/* Ajustar los enlaces */
.navbar .nav-link {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  
}

.navbar .nav-link {
  font-size: 0.9rem;   /* más chico que el default (1rem) */
  font-weight: 500;    /* se mantiene formal */
  letter-spacing: 0.3px;
}

/* Navbar sobrescrita */
.navbar.bg-primary {
  background-color: var(--brand) !important;
  font-size: 0.9rem;   
}

/* Texto de la marca */


/* Tarjetas redondeadas */
.card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Footer gris */
footer {
  background: #eff1f5;
  padding: 15px;
  text-align: center;
  color: #444;
}


/*

Facu mi idea aca era hacer una separacion entre los link, tipo hacerle un border al link formulario en left y right  
para que quede facha, pero no me sale :(, si podes hacelo vos <3

.navbar-nav .nav-item .nav-link.formulario {
  border-left: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  padding: 0 12px !important;
  color: #fff !important;
}


@media (max-width: 991.98px) {
  .navbar-nav .nav-item .nav-link.formulario {
    border-left: none !important;
    border-right: none !important;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    display: block !important;
    text-align: center;
  }
}
   */